body {
    background-image: url(../images/blue-ocean-waves.jpg);
}

.navbar-brand {

}

main {
    padding: 20px;
    margin: 50px 20px;
    margin-right: 10em;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    background: whitesmoke;
    color: black;
}

h1 {
    text-align: left;
}

.me-picture {
    height: auto;
    max-width: 100%;
    margin-right: 20px;
    margin-bottom: 10px;
    float: left;
}

ul {
    margin-left: 5px;
}

@media screen and (max-width: 768px) {
    main {
        padding: 20px;
        margin: 1em 1em auto;
    }
}

