body {
    background-image: url(../images/blue-ocean-waves.jpg);
}

.navbar-brand {
    color: skyblue;
}


main {
    padding: 20px;
    margin: 50px 20px;
    margin-right: 10em;
    padding-left: 5px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    background: whitesmoke;
    color: black;
}

h1 {
    text-align: left;

}

.me-picture, .picture-placeholder{
    height: auto;
    max-width: 100%;
    margin-right: 20px;
    margin-bottom: 10px;
}

.me-picture {
    float: left;
}

ul {
    font-size: 80%;
}

footer {
    color: #fff;
    width: 100%;
    background-color: #333;
    padding: 15px;
    text-align: center;
}

@media screen and (max-width: 768px) {
  main {
      max-width: 100%;
      padding: 2em;
      margin: 1em 1em auto;
    }

  
}